extends layout.jade

block content
    //include splash.jade

    #app.app-js
        .navbar.navbar-inverse
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-inverse-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand Dungeon Revealer
                
            #bs-example-navbar-collapse-2.collapse.navbar-collapse
              form.navbar-form.navbar-left(role='search')
                button#btn-new-map.btn.btn-default(type='button') New Map
                button#btn-save-map.btn.btn-default(type='button',data-toggle='tooltip',title='Create a save file for your populated map') Save
                button#btn-load-map.btn.btn-default(type='button',data-toggle='tooltip',title='Load a map save file\n(Must be save file of same base map image)') Load
                input#btn-choose-file.btn.btn-default(type='file',style='display: none;', accept=".map")
              form.navbar-form.navbar-left(role='search')
                span#zoomLabel Zoom/Pan		  
                .btn-group.zoom_btn_group
                    button#btn-zoom-in.btn.btn-default(type='button') +
                    button#btn-zoom-in-more.btn.btn-default(type='button') ++
                    button#btn-zoom-out.btn.btn-default(type='button') -
                    button#btn-zoom-out-more.btn.btn-default(type='button') --           
                .btn-group.zoom_btn_group
                    input#check-box-pan-lock.form-check-input(data-toggle='tooltip',type='checkbox',title='Right-click and dragging will pan the map unless panning is locked.', checked=true)
                    label.form-check-label(data-toggle='tooltip',title='Right-click and dragging will pan the map unless panning is locked.') Pan Lock
                .btn-group.zoom_btn_group
                    button#btn-map-reset.btn.btn-default(type='button') Reset Map Image
                    a#btn-fix-map.btn.btn-default(data-toggle='tooltip',title='If map freezes or turns white, this reloads it.') Reload Map
                span#loading_screen
        #upload-wrapper
          form#upload.dropzone   
        div#main-container
            div#control-panel-column
                div#label_mng_container(style='display: none;')
                    .btn-group#label-group
                        label#labelText Label
                        input#labelTextInput(type='input')
                        a#btn-toggle-multi-label.btn.btn-default Add Multiple Labels
                    div
                        span#btn-clear-player-labels.closable(data-toggle='tooltip',title='Deletes all player labels')
                        select#label_sel.row.form-control(multiple,data-toggle='tooltip',title='Click item to load label for painting.\nDouble-click item to erase from map.\nRight-click to delete label from list.')              
                    div#selector-seperator
                        span#btn-clear-other-labels.closable(data-toggle='tooltip',title='Deletes all target and enemy labels')
                    div
                        select#label_sel2.row.form-control(multiple,data-toggle='tooltip',title='Click item to load label for painting.\nDouble-click item to erase from map.\nRight-click to delete label from list.')
                    div
                    div
        #map-wrapper
        #dm-toolbar
            .toolbar-wrapper
                .btn-toolbar
                    .btn-group
                        a#btn-toggle-canvas.btn.btn-default(data-toggle='tooltip',title='toggle between labels and fog of war') Toggle Canvas
                        a#btn-toggle-fow-brush.btn.btn-default(data-toggle='tooltip',title='changes the type of brush') Toggle Brush
                    .btn-group
                        a#btn-dark-all.btn.btn-default(data-toggle='tooltip',title='Darkens all the fog of war') Darken All
                        a#btn-dim-all.btn.btn-default(data-toggle='tooltip',title='Dims all the fog of war') Dim All
                        a#btn-clear-all.btn.btn-default(data-toggle='tooltip',title='Clears the current canvas') Clear All
                    .btn-group
                        a#btn-undo.btn.btn-default(data-toggle='tooltip',title='Undoes last action') Undo
                    .btn-group#label-btns
                        div#slidecontainer
                            input#size_input(type='Range',min="1",max="1024", value="15")
                        a#btn-shrink-brush.btn.btn-default Shrink Brush
                        a#btn-enlarge-brush.btn.btn-default Enlarge Brush
                        a#btn-shape-brush.btn.btn-default Square Brush
                        a#btn-visibility-brush.btn.btn-default Hide
                        div#gridBrushSizeContainer
                            label Select brush <br> size in feet
                            input#brush_size_ft(type='number',placeholder='radius/sq. width in ft')
                            a#btn-grid-apply-feet-brush-size.btn.btn-default(style='display: none;') Apply
                    .btn-group#grid-btns(style='display: none;')
                        div#gridslidecontainer
                            input#grid_size_input(type='Range',min="10",max="200", value="75")
                        a#btn-smaller-grid.btn.btn-default Shrink Grid				
                        a#btn-bigger-grid.btn.btn-default Enlarge Grid
                        a#btn-add-grid.btn.btn-default(data-toggle='tooltip',title='Adds grid to map') Add Grid
                        a#btn-rm-grid.btn.btn-default(style='display: none;',data-toggle='tooltip',title='Removes the current grid from map') Remove Grid
                    .btn-group
                        a#btn-send.btn.btn-default Send
                        span#icon-send-state.yellow_dot(data-toggle='tooltip',title='Green when sent. Yellow when changes pending to be sent.')
            ul#messages.navbar-text
block js
    script(data-main='/javascripts/dm-app.js', src='/javascripts/require.js')
